html,
body {
  font-family: Ubuntu, Arial;
  width: 100%;
  height: 100%;
  color: #000000;
}
.bg-color-012E40 {
    background-color: #000000;
}

.body-bgcolor {
    background-color: #a7abb7;
}

.body-bgcolor2 {
    background-color: #dfcab0;
}


.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 10vh;
}

.icon {
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease;
}


.icon:hover {
    transform: translateY(-10px) rotate(5deg);
}

.icon_flask:hover{
    transform: translateY(-10px) rotate(5deg);
}

.body{
    font-size: 1.5rem !important;
}
.bi{
    color: rgb(0, 0, 0);
    text-decoration: none;
}
*::-webkit-scrollbar{
   width: 15px;
}
*::-webkit-scrollbar-track {
   width: 12px;
   box-shadow: inset 0 0 .3rem #00000050;
   background-color:#96a5fc ; 
}
*::-webkit-scrollbar-thumb{
   background-color:#0c0c10;
}
.carousel-control-prev{
    margin-left: -8rem !important;
}
/* Estiliza o botão direito*/
.carousel-control-next{
    margin-right: -8rem !important;
}

.carousel-indicators{
    margin-bottom: -35px;
}

@media (max-width: 1860px){
    .carousel-control-prev{
      margin-left: 0 !important;
    }
    
    .carousel-control-next{
      margin-right: 0 !important;
    }
}

.rounded {
    border-radius: 1rem !important;
}

.nav-link{
    color: #6d82fc !important;
}

