<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="../static/icons/web_14537224.png" type="image/png">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <title>Arthur Souza | Portifolio</title>
  <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/style.css">

</head>
  
<body class="body-bgcolor body">
  <!-- TODO - Ao usar a navegação, sempre que seleciona a home falta subir mais um espaço para cima// resolvido, era a margem que criava espaços para cima, passando da viewport-->
  <nav class="navbar navbar-expand-md navbar-light bg-color-012E40 fixed-top">
    <div class="container">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav justify-content-center flex-grow-1">
          <li class="nav-item mx-1">
            <a class="nav-link text-light" aria-current="page" href="#home">Home</a>
          </li>
          <li class="nav-item mx-1">
            <a href="#sobremim" class="nav-link text-light" >Sobre mim</a>
          </li>
          <li class="nav-item mx-1">
            <a href="#projetos" class="nav-link text-light" >Projetos</a>
          </li>
          <li class="nav-item mx-1">
            <a href="#habilidades" class="nav-link text-light">Habilidades</a>
          </li>
          <li class="nav-item mx-1">
            <a href="#contato" class="nav-link text-light" >Contato</a>
          </li>
          <li class="nav-item mx-1">
            <a href="#apoiar" class="nav-link text-light" >Apoiar-me</a>
          </li>
          <li class="nav-item mx-1">
            <a href="#curriculo" class="nav-link text-light" >Curriculo</a>
          </li>
        </ul>
      </div>
    </div>
  </nav> 

  <section id="home" class="container">
    <div class="container-fluid vh-100 d-flex align-items-center">
      <div class="row">
        <div class="col-sm-4 d-flex justify-content-center align-items-center mt-5">
          <img class="img-fluid w-50  " src="../static/PersonagemPixel.png">
        </div>
        <div class="col-sm-8 text-center">
          <h1 class="">Olá, Meu nome é Arthur!</h1>
          <h3 class="">desenvolvedor Backend</h3>
            <p class="apresentacao ">
              Esta é minha página de apresentação. Aqui você poderá ver alguns dos meus conhecimentos de programação aplicados na própria página. <br><br>
              
              <h4 class="col-12 d-flex align-items-center justify-content-center">Tecnologias usadas neste site</h4>
              <div class="icon-container">
                <img src="https://upload.wikimedia.org/wikipedia/commons/6/61/HTML5_logo_and_wordmark.svg" alt="HTML5 Icon" class="icon">
                <img src="https://upload.wikimedia.org/wikipedia/commons/d/d5/CSS3_logo_and_wordmark.svg" alt="CSS3 Icon" class="icon">
                <img src="https://upload.wikimedia.org/wikipedia/commons/6/6a/JavaScript-logo.png" alt="JavaScript Icon" class="icon">
                <img src="https://upload.wikimedia.org/wikipedia/commons/b/b2/Bootstrap_logo.svg" alt="Bootstrap Icon" class="icon">
                <img src="https://upload.wikimedia.org/wikipedia/commons/3/3c/Flask_logo.svg" alt="Flask Icon" class="icon_flask">
              </div>
            </p>
        </div>
      </div>
    </div>
  </section>

  <section id="sobremim" class="mt-1">
    <div class="container-fluid vh-100 pt-4 vh-100 pt-4">
      <h3 class="mt-5 py-3">Sobre mim</h3>
      <p class="infosSobreMim">

          Possuo conhecimento em diversas linguagens de programação e uma base sólida em lógica de programação. Sou um aprendiz rápido e tenho um grande interesse em conhecer a fundo as tecnologias com as quais trabalho. Embora minha experiência em programação seja básica, estou sempre buscando aprender e me aprimorar.
          <br><br>
          Minha experiência inclui um estágio na Unimed Porto Velho, onde estudei e desenvolvi sistemas em PHP e Laravel. Além disso, desenvolvi pequenos projetos pessoais focados no desenvolvimento web com foco no backend. Tenho experiência com tecnologias como Laravel, Django, Flutter, Bootstrap, Docker e Linux.
          <br><br>
          Anseio desenvolver projetos com destreza e aptidão, me tornar desenvolvedor em tempo integral e viver de programação.

      </p>
    </div>
  </section>

   <section id="projetos" class="mt-1">
    <div class="container-fluid vh-100 pt-4">
      <h3 class="mt-5 py-3">Projetos</h3>
      <p class="Projetos">
        <!--Meus projetos e intenções.

        Portifolio

        Projetos JavaScript

        Projetos Django

        Projetos Laravel-->

        <h1>EM BREVE</h1>

        Infelizmente passei por um momento de frustração total com a area de desenvimento de software e acabei excluindo todos meus projetos que existiam em meu git hub, estarei me dedicando para desenvolver e distribuir projetos open-source para agregar em meu curriculo e experiencia.
        <br><br>
        Pretendo desenvolver projetos com tecnologias que tenho bastante afinidade, essas tecnologias são:
        <br><br>
        Javascript<br>
        Django<br>
        Laravel<br>
        <br><br>
        tambem tenho bastante interesse em aprender desenvolvimento mobile utilizando Dart e Flutter
      </p>
    </div>
  </section>

  <section id="habilidades" class="mt1">
    <div class="container-fluid vh-100 pt-4">
      <h3 class="mt-5 py-3">habilidades</h3>
      <p class="habilidades">
        Desenvolvimento Web:<br>
        
          PHP
          Laravel
          
          Javascrip
          
          Python
          Django
          <br><br>
        Gerenciamento de Servidores:<br>
          Docker 
          linux
          AWS
          Virtual Box
          <br><br>
        Hacking e Segurança:<br>
          Penteste
          Kali linux
          OWASPB
          <br><br>
      </p>
    </div>
  </section>

  <section id="contato" class="mt-2">
    <div class="container-fluid vh-100 pt-4">
      <h3 class="mt-5 pt-3">Contato</h3>
      <p class="contato">
        Minhas redes sociais, emails e contatos.
        <br>
        Instagram https://www.instagram.com/t.arthursouza/
        <br>
        Linkedin https://www.linkedin.com/in/arthur-vinicius-467b991b4
        <br>
        Github https://github.com/Arthur-Vinicius
        <br>
        Youtube https://www.youtube.com/@arthurvinicius9215
        <br>
        leetcode https://leetcode.com/u/arthurviniciussouza906/
        <br>
        hackerrank https://www.hackerrank.com/profile/arthurvinic1us
        <br>
        codechef https://www.codechef.com/users/arthurvinicius
        <br>
        kaggle https://www.kaggle.com/arthursvinicius
        <br>
        codesandbox https://codesandbox.io/dashboard/recent
        <br>

      </p>
    </div>
  </section>

  <section id="apoiar" class="mt-1">
    <div class="container-fluid vh-100 pt-4">
      <h3 class="mt-5 pt-3">Apoiar</h3>
      <p class="apoiar">
        Meus links para apoiar

        buymeacoffee.com/arthursouza
        
      </p>
    </div>
  </section>

  <section id="curriculo" class="mt-1">
    <div class="container-fluid vh-100 pt-4">
      <h3 class="mt-5 pt-3">Curriculo</h3>
      <p class="curriculo">
        Meu curriculo em pdf para donwload

        
      </p>
    </div>
  </section>
  
  <footer>
    <!-- TODO - Criar e estilizar footer-->
    
  </footer>
  <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/javascript/javascript_custum.js"></script>
</body>
</body>

</html>